<div>
    <h2>Suggestion Box</h2>
    <div class="flex">
        <div class="m-2">
            <div>
                LABEL
            </div>
            <input class="border-1 rounded-sm" type="text" />
        </div>
        <div class="m-2">
            <div>
                LABEL
            </div>
            <input class="border-1 rounded-sm" type="text" />
        </div>
        <div class="m-2">
            <div>
                LABEL
            </div>
            <input class="border-1 rounded-sm" type="text" />
        </div>
    </div>
</div>