<!-- <div class="flex">
    <div *ngIf="!currentUser" class="items-center">
        <img class="inline object-cover w-8 h-8 mr-2 rounded-full"
            src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            alt="Profile image" />
    </div>
    <div *ngIf="!currentUser">
        <div>
            <form [formGroup]="userForm" (ngSubmit)="login()">
                <div><span class="font-light">Username:</span>
                    <input formControlName="username" placeholder="Username">
                </div>
                <div><span class="font-light">Password:</span>
                    <input formControlName="password" placeholder="Password">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div *ngIf="currentUser.username">
        <div>Logged in as {{currentUser.username}}</div>
    </div>
</div> -->
<div class="ml-3 relative">
    <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
        <div *ngIf="currentUser">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                id="user-menu-item-0">Your
                Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                id="user-menu-item-1">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                id="user-menu-item-2">Sign
                out</a>
        </div>
        <div *ngIf="!currentUser">
            <form [formGroup]="userForm" (ngSubmit)="login()">
                <div class="w-full max-w-xs">
                    <form class="px-4 pt-2 pb-2">
                        <div class="mb-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                Username
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="username" type="text" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Password
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full pt-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                id="password" type="password" placeholder="******************">
                        </div>
                        <div class="flex flex-col items-center">
                            <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold w-full p-2 mb-1 rounded focus:outline-none focus:shadow-outline"
                                type="button">
                                Sign In
                            </button>
                            <button
                                class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">
                                Forgot Password?
                            </button>
                        </div>
                    </form>
                </div>

            </form>
        </div>
    </div>
</div>